body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: url(4c22ac04af4148a30ee861a392e17a1a.jpg);
    background-attachment: fixed;
}

h3 {
    font-size: 36px;
    margin: 2;
    padding: 12px 0;
    text-align: center;
    background-color: #007bff;
    color: white;
}

a {
    text-decoration: none;
    color: #007bff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    margin: 2;
    padding: 10px 0;
    text-align: center;
    background-color: #007bff;
    color: rgb(255, 159, 49);
}

.localització {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: bold;
    align-items: center;


}


.column {
    width: 50%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: bold;
    align-items: center;
    font-size: 23px;
    
}

.pàgines{
    width: 100%;
}

.Fotos {
    width: 100%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: bold;
    align-items: center;


}

.imatge {
    width: 100%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: bold;
    align-items: center;


}

.video {
    width: 100%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
    font-weight: bold;
    align-items: center;

}

/* Estilos para la cabecera */

header {
    background-color: #007bff;
    padding: 20px 0;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: #fff;
    font-weight: bold;
}

/* Estilos para el contenido principal */

main {
    padding: 50px 0;
}

section {
    clear: both;
    padding: 50px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 1px 0;
    width: 500px;
    text-align: center;
    border: 3px solid black;
}

video {
    text-align: center;
    width: 100px;
    height: 100px;
    max-width: 100%;
}

footer {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

h3 {
    font-size: 24px;
    margin: 0;
    padding: 20px 0;
}

iframe {
    width: 800px;
    height: 470px;
    display: flex;
    text-align: center;
    border: 3px solid black;
    margin: 0 auto;
    padding: 1px 0;
    text-align: center;
    max-width: 100%;
}

.localització {
    display: flex;
    width: 800px;
    height: 470px;
    border: 3px solid black;
    margin: 0 auto;
    padding: 1px 0;
    text-align: center;

}


.fa-facebook {
    background: #1877f2;
}

.fa-linkedin {
    background: #0a66c2;
}

.fa-twitter {
    background: #1da1f2;
}

.fa-instagram {
    background: #c32aa3;
}

.fa-youtube {
    background: #ff0000;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;

}

.redes i {
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 1px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.redes a {
    text-decoration: none;
}

.redes i:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .9;

}